In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('spend_analysis_dataset.csv')
df.head()

,TransactionID,ItemName,Category,Quantity,UnitPrice,TotalCost,PurchaseDate,Supplier,Buyer
0,TXN001,Desk Chair,Furniture,10,113.15,1131.50,2024-04-19,TechMart Inc.,Kelly Joseph
1,TXN002,Stapler,Office Supplies,16,12.62,201.92,2024-07-06,CloudSoft Corp.,Kelly Joseph
2,TXN003,Annual Software License,Software,1,5649.34,5649.34,2024-09-10,TechMart Inc.,Kelly Joseph
3,TXN004,Notepad,Stationery,13,2.92,37.96,2024-01-21,FurniWorks Ltd.,Luis Holland
4,TXN005,Notepad,Stationery,19,1.39,26.41,2024-02-03,TechMart Inc.,Cynthia Jenkins

In [3]:
from src.file_processing.generate_messy_data import make_messy_data_datetime

messy_df = make_messy_data_datetime(df, ['PurchaseDate'])
messy_df.to_csv('messy_datetime_spend_analysis_dataset.csv', index=False)

In [3]:
from src.file_processing.generate_messy_data import make_messy_data_string

messy_pattern_df = make_messy_data_string(df, ['TransactionID', 'Category'])
messy_pattern_df.to_csv('messy_pattern_spend_analysis_dataset.csv', index=False)